
<script>

  $("#codemirror").hide();
  requireCss("components/codemirror/lib/codemirror.css");
  requireCss("components/codemirror/theme/rubyblue.css");
  requirejs(
      {
        paths: {
          'ui.codemirror': "build/ui-codemirror.min"
        },
        shim: {
          'ui.codemirror': { deps: ['components/codemirror/lib/codemirror'] }
        }
      },
      ['ui.codemirror'],
      function () {

        angular.module('doc.ui-codeMirror', ['ui.codemirror', 'prettifyDirective' ])
            .controller('CodemirrorCtrl', ['$scope', function ($scope) {
              $scope.codeMirrorModel = "CodeMirror Hello World";
            }])
        ;
        e$ = $("#codemirror");
        e$.removeAttr("ng-non-bindable");

        angular.bootstrap(e$[0], ['doc.ui-codeMirror']);
        e$.show();
        $("#codemirror-l").slideUp();


      }
  );
</script>

<!-- Le loading
================================================== -->
<div id="codemirror-l" class="loadingAnimation" >
  <div class="bowl_ringG">
    <div class="ball_holderG">
      <div class="ballG">
      </div>
    </div>
  </div>
</div>

<section id="codemirror" ng-non-bindable ng-controller="CodemirrorCtrl">
  <div class="page-header">
    <h1>CodeMirror</h1>
  </div>
  <h3>What?</h3>

  <p>IDE? In <em>my</em> textareas? Surely you're joking.</p>

  <p><textarea ui-codemirror="{
                lineNumbers: true,
                theme:'rubyblue'
            }" ui-refresh="codeMirrorRefresh" ng-model="codeMirrorModel"></textarea></p>

  <h3>How?</h3>
    <pre class="prettyprint">
    &lt;textarea ui-codemirror=&quot;{
        lineNumbers: true,
        theme:&#39;rubyblue&#39;
        }&quot; ui-refresh=&quot;codeMirrorRefresh&quot; ng-model=&quot;codeMirrorModel&quot;&gt;&lt;/textarea&gt;
    </pre>
</section>