<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8/>
    <title>Angular UI ~ UI CodeMirror Doc</title>

    <!-- Le css -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>

    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/theme/twilight.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/demo.css"/>


</head>

<body>

  <!-- Le navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <div class="dropdown pull-left">
                  <a class="brand dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                      UI CodeMirror
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="https://github.com/angular-ui/"><strong>Related Projects:</strong></a></li>
                      <li class="divider"></li>
                      <li><a href="http://angular-ui.github.io/">AngularUI</a></li>
                      <li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
                      <li><a href="http://angular-ui.github.io/ng-grid/">Grid</a></li>
                      <li><a href="https://github.com/angular-ui/AngularJs.tmbundle">AngularJS.tmbundle</a></li>
                      <li><a href="http://angular-ui.github.io/ui-router/sample/">Router <span class="label label-success">New!</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div style="margin: 32px;"></div>

  <!-- Le header
  ================================================== -->
  <header class="hero-unit" id="overview">
      <div class="container">

          <h1>UI CodeMirror</h1>

          <p>This directive allows you to add CodeMirror to your textarea elements.</p>

          <p class="btn-group">
              <a class="btn" href="https://github.com/angular-ui/ui-codemirror"><i class="icon-github"></i> Code on Github</a>
              <a class="btn btn-primary" href="https://github.com/angular-ui/ui-codemirror/tree/gh-pages/build">
                  <i class="icon-download-alt icon-white"></i> Download <small>(0.0.5)</small>
              </a>
          </p>
      </div>
      <div class="bs-docs-social">
          <div class="container">
              <ul class="bs-docs-social-buttons">
                  <li>
                      <iframe src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-codemirror&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                  </li>
                  <li>
                      <iframe src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-codemirror&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                  </li>
                  <li>
                      <!-- Place this tag where you want the +1 button to render. -->
                      <div class="g-plusone" data-size="medium"></div>

                      <!-- Place this tag after the last +1 button tag. -->
                      <script type="text/javascript">
                          (function () {
                              var po = document.createElement('script');
                              po.type = 'text/javascript';
                              po.async = true;
                              po.src = 'https://apis.google.com/js/plusone.js';
                              var s = document.getElementsByTagName('script')[0];
                              s.parentNode.insertBefore(po, s);
                          })();
                      </script>
                  </li>
              </ul>
          </div>
      </div>
  </header>

  <!-- Le main
  ================================================== -->
  <div class="container">

    <section id="codemirror" ng-app="doc.ui-codeMirror">


<!-- =Minimal code
--------------------------------------------------------------------------- -->
<div id="demo-mini" class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Minimal code</h1>
    </div>
    <div class="row">
      <div class="span6">
        <div>
          <textarea ui-codemirror ng-model="cmModel0">Code mirror here</textarea>
        </div>
      </div>

      <div class="span6" ng-controller="PlunkerCtrl"
           ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js'];
        "
          >
        <div class="pull-right">
          <button class="btn btn-info" ng-click="edit('1.0.7', 'UI.Codemirror', 'ui-codemirror')">
            <i class="icon-edit icon-white"></i> Edit in plunker
          </button>
        </div>

        <tabset>
          <tab heading="Markup">
            <div plunker-content="markup">
<pre class="prettyprint">&lt;section&gt;

  &lt;div&gt;
    &lt;textarea ui-codemirror ng-model=&quot;cmModel&quot;&gt;
      Code mirror here
    &lt;/textarea&gt;
  &lt;/div&gt;

&lt;/section&gt;</pre>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>


<!-- =General options demo
--------------------------------------------------------------------------- -->
<div id="demo-general" class="row">
  <div class="span12">
    <div class="page-header">
      <h1>General options</h1>
    </div>
    <div class="row">
      <div class="span6">
        <div>
          <textarea ui-codemirror="{
              lineNumbers: true,
              theme:'twilight',
              readOnly: 'nocursor',
              mode: 'xml'
            }" ng-model="cmModel1">
<html style="color: green">
<!-- this is a comment -->
<head>
  <title>HTML Example</title>
</head>
<body>
The indentation tries to be <em>somewhat &quot;do what
  I mean&quot;</em>... but might not match your style.
</body>
</html>
          </textarea>
        </div>
      </div>

      <div class="span6" ng-controller="PlunkerCtrl"
           ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css', 'http://codemirror.net/theme/twilight.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js', 'http://codemirror.net/mode/xml/xml.js'];
        "
          >
        <div class="pull-right">
          <button class="btn btn-info" ng-click="edit('1.0.7', 'UI.Codemirror', 'ui-codemirror')">
            <i class="icon-edit icon-white"></i> Edit in plunker
          </button>
        </div>

        <tabset>
          <tab heading="Markup">
            <div plunker-content="markup">
<pre class="prettyprint">&lt;section&gt;
  &lt;div&gt;
    &lt;textarea ui-codemirror=&quot;{
      lineNumbers: true,
      theme:&#39;twilight&#39;,
      readOnly: &#39;nocursor&#39;,
      mode: &#39;xml&#39;
    }&quot; ng-model=&quot;cmModel&quot;&gt;&lt;html style=&quot;color: green&quot;&gt;
  &lt;!-- this is a comment --&gt;
  &lt;head&gt;
  &lt;title&gt;HTML Example&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  The indentation tries to be &lt;em&gt;somewhat &amp;quot;do what
  I mean&amp;quot;&lt;/em&gt;... but might not match your style.
  &lt;/body&gt;
  &lt;/html&gt;&lt;/textarea&gt;
  &lt;/div&gt;

&lt;/section&gt;</pre>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>


<!-- =Mode-Changing demo
--------------------------------------------------------------------------- -->
<div id="demo-mode-changing" class="row">
  <div class="span12" ng-controller="CodemirrorCtrl">
    <div class="page-header">
      <h1>Mode-Changing demo</h1>
    </div>
    <div>
      <textarea ui-codemirror="cmOption" ng-model="cmModel"></textarea>
    </div>
    Mode : <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()">
  </select>
  </div>
</div>

<hr>

<div class="row">

  <div class="span12" ng-controller="PlunkerCtrl"
       ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js', 'http://codemirror.net/mode/scheme/scheme.js', 'http://codemirror.net/mode/javascript/javascript.js', 'http://codemirror.net/mode/xml/xml.js'];
        "
      >
    <div class="pull-right">
      <button class="btn btn-info" ng-click="edit('1.0.7', 'UI.Codemirror', 'ui-codemirror')">
        <i class="icon-edit icon-white"></i> Edit in plunker
      </button>
    </div>

    <tabset>
      <tab heading="Markup">
        <div plunker-content="markup">
<pre class="prettyprint">&lt;section ng-controller=&quot;CodemirrorCtrl&quot;&gt;

  &lt;div&gt;
    &lt;textarea ui-codemirror=&quot;cmOption&quot; ng-model=&quot;cmModel&quot;&gt;&lt;/textarea&gt;
  &lt;/div&gt;

  &lt;select ng-model=&quot;mode&quot; ng-options=&quot;c for c in modes&quot; ng-change=&quot;modeChanged()&quot;&gt;&lt;/select&gt;

&lt;/section&gt;</pre>
        </div>
      </tab>
      <tab heading="JavaScript">
        <div plunker-content="javascript">
<pre class="prettyprint">app.controller(&#39;CodemirrorCtrl&#39;, [&#39;$scope&#39;, function($scope) {

  // The modes
  $scope.modes = [&#39;Scheme&#39;, &#39;XML&#39;, &#39;Javascript&#39;];
  $scope.mode = $scope.modes[0];


  // The ui-codemirror option
  $scope.cmOption = {
    lineNumbers: true,
    tabMode: &quot;indent&quot;,
    onLoad : function(_cm){

      // HACK to have the codemirror instance in the scope...
      $scope.modeChanged = function(){
        _cm.setOption(&quot;mode&quot;, $scope.mode.toLowerCase());
      };
    }
  };



  // Initial code content...
  $scope.cmModel = &#39;;; Scheme code in here.\n&#39; +
    &#39;(define (double x)\n\t(* x x))\n\n\n&#39; +
    &#39;&lt;!-- XML code in here. --&gt;\n&#39; +
    &#39;&lt;root&gt;\n\t&lt;foo&gt;\n\t&lt;/foo&gt;\n\t&lt;bar/&gt;\n&lt;/root&gt;\n\n\n&#39; +
    &#39;// Javascript code in here.\n&#39; +
    &#39;function foo(msg) {\n\tvar r = Math.random();\n\treturn &quot;&quot; + r + &quot; : &quot; + msg;\n}&#39;;

}]);</pre>
        </div>
      </tab>
    </tabset>
  </div>
</div>

</section>


  </div>

  <!-- Le javascript
  ================================================== -->

  <script src="assets/vendor/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap.min.js"></script>

  <script src="assets/vendor/prettify.js"></script>

  <script src="assets/vendor/angular.min.js"></script>
  <script src="core/prettifyDirective.js"></script>
  <script src="core/plunker.js"></script>

  <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="bower_components/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
  <script src="bower_components/codemirror/mode/scheme/scheme.js" type="text/javascript" charset="utf-8"></script>
  <script src="bower_components/codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>
  <script src="bower_components/codemirror/mode/xml/xml.js" type="text/javascript" charset="utf-8"></script>
  <script src="build/ui-codemirror.min.js" type="text/javascript" charset="utf-8"></script>

  <script>
    angular.module('doc.ui-codeMirror', ['ui.codemirror', 'prettifyDirective', 'ui.bootstrap', 'plunker' ])
  .controller('CodemirrorCtrl', ['$scope', function ($scope) {

    // The modes
    $scope.modes = ['Scheme', 'XML', 'Javascript'];
    $scope.mode = $scope.modes[0];


    // The ui-codemirror option
    $scope.cmOption = {
      lineNumbers: true,
      tabMode: "indent",
      onLoad: function (_cm) {

        // HACK to have the codemirror instance in the scope...
        $scope.modeChanged = function () {
          _cm.setOption("mode", $scope.mode.toLowerCase());
        };

      }
    };


    // Initial code content...
    $scope.cmModel = ';; Scheme code in here.\n' +
      '(define (double x)\n\t(* x x))\n\n\n' +
      '<!-- XML code in here. -->\n' +
      '<root>\n\t<foo>\n\t</foo>\n\t<bar/>\n</root>\n\n\n' +
      '// Javascript code in here.\n' +
      'function foo(msg) {\n\tvar r = Math.random();\n\treturn "" + r + " : " + msg;\n}';

  }]);
  </script>

</body>

</html>
