<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Angular UI ~ UI.CodeMirror Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

      <link rel="stylesheet" type="text/css" href="vendor/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/twilight.css"/>


</head>

<body>

<!-- Le navbar
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="" class="navbar-brand">UI.CodeMirror</a>
        </li>
        <li class="pull-right">
          <a href="http://angular-ui.github.io">by AngularUI</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Le header
================================================== -->
<header class="bs-header">
  <div class="container">

    <h1>UI.CodeMirror</h1>

    <p>This directive allows you to add CodeMirror to your textarea elements.</p>

    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-codemirror">Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-codemirror/releases/tag/v0.2.3">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.2.3)</small>
     </a>
    </p>
  </div>
  <div class="bs-social container">
      <ul class="bs-social-buttons list-inline list-unstyled">
          <li>
              <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-codemirror&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
             <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-codemirror&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </li>
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button"
                 data-hashtags="angularjs">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
          </li>
          <li>
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
          </li>
      </ul>
  </div>
</header>

<!-- Le main
================================================== -->
<div class="container">

  <section id="codemirror" ng-app="doc.ui-codeMirror">

<!-- =Minimal code
--------------------------------------------------------------------------- -->
<div id="demo-mini">
  <div class="page-header">
    <h1>Minimal code</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ui-codemirror>Code mirror here</div>
    </div>

    <div class="col-md-6" ng-controller="PlunkerCtrl"
         ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js'];
      "
        >
      <div class="pull-right">
        <button class="btn btn-info" ng-click="edit('1.2.6', 'UI.Codemirror', 'ui-codemirror')">
          <i class="glyphicon glyphicon-edit"></i> Edit in plunker
        </button>
      </div>

      <tabset>
        <tab heading="Markup">
          <div plunker-content="markup">
<pre class="prettyprint">&lt;section&gt;
  &lt;div ui-codemirror &gt;Code mirror here&lt;/div&gt;
&lt;/section&gt;</pre>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>


<!-- =General options demo
--------------------------------------------------------------------------- -->
<div id="demo-general">
  <div class="page-header">
    <h1>General options</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ui-codemirror="{
            lineNumbers: true,
            theme:'twilight',
            readOnly: 'nocursor',
            lineWrapping : true,
            mode: 'xml'
          }">&lt;html style=&quot;color: green&quot;&gt;
&lt;!-- this is a comment --&gt;
&lt;head&gt;
&lt;title&gt;HTML Example&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
The indentation tries to be &lt;em&gt;somewhat &amp;quot;do what
I mean&amp;quot;&lt;/em&gt;... but might not match your style.
&lt;/body&gt;
&lt;/html&gt;</div>
    </div>

    <div class="col-md-6" ng-controller="PlunkerCtrl"
         ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css', 'http://codemirror.net/theme/twilight.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js', 'http://codemirror.net/mode/xml/xml.js'];
      "
        >
      <div class="pull-right">
        <button class="btn btn-info" ng-click="edit('1.2.6', 'UI.Codemirror', 'ui-codemirror')">
          <i class="glyphicon glyphicon-edit"></i> Edit in plunker
        </button>
      </div>

      <tabset>
        <tab heading="Markup">
          <div plunker-content="markup">
<pre class="prettyprint">&lt;section&gt;
  &lt;div ui-codemirror=&quot;{
      lineNumbers: true,
      theme:&#39;twilight&#39;,
      readOnly: &#39;nocursor&#39;,
      lineWrapping : true,
      mode: &#39;xml&#39;
    }&quot; &gt;&amp;lt;html style=&amp;quot;color: green&amp;quot;&amp;gt;
&amp;lt;!-- this is a comment --&amp;gt;
&amp;lt;head&amp;gt;
&amp;lt;title&amp;gt;HTML Example&amp;lt;/title&amp;gt;
&amp;lt;/head&amp;gt;
&amp;lt;body&amp;gt;
The indentation tries to be &amp;lt;em&amp;gt;somewhat &amp;amp;quot;do what
I mean&amp;amp;quot;&amp;lt;/em&amp;gt;... but might not match your style.
&amp;lt;/body&amp;gt;
&amp;lt;/html&amp;gt;&lt;/div&gt;
&lt;/section&gt;</pre>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
</div>


<!-- =Mode-Changing demo
--------------------------------------------------------------------------- -->
<div id="demo-mode-changing">
    <div class="page-header">
      <h1>Mode-Changing demo</h1>
    </div>
  <div class="row" ng-controller="CodemirrorCtrl">
    <div class="col-md-12">
      <div ui-codemirror="cmOption" ng-model="cmModel"></div>
    </div>
    <div class="col-md-6">
      Mode : <select class="form-control" ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
    </div>
  </div>
</div>

<hr>

<div class="row">

  <div class="span12" ng-controller="PlunkerCtrl"
       ng-init="
vendor_css=['http://codemirror.net/lib/codemirror.css'];
vendor_js=['http://codemirror.net/lib/codemirror.js', 'http://codemirror.net/mode/scheme/scheme.js', 'http://codemirror.net/mode/javascript/javascript.js', 'http://codemirror.net/mode/xml/xml.js'];
        "
      >
    <div class="pull-right">
      <button class="btn btn-info" ng-click="edit('1.2.6', 'UI.Codemirror', 'ui-codemirror')">
        <i class="glyphicon glyphicon-edit"></i> Edit in plunker
      </button>
    </div>

    <tabset>
      <tab heading="Markup">
        <div plunker-content="markup">
<pre class="prettyprint">&lt;section ng-controller=&quot;CodemirrorCtrl&quot;&gt;

  &lt;textarea ui-codemirror=&quot;cmOption&quot; ng-model=&quot;cmModel&quot;&gt;&lt;/textarea&gt;

  Mode : &lt;select ng-model=&quot;mode&quot; ng-options=&quot;m for m in modes&quot; ng-change=&quot;modeChanged()&quot;&gt;&lt;/select&gt;

&lt;/section&gt;</pre>

    <div style="margin-top: 450px;"></div>
        </div>
      </tab>
      <tab heading="JavaScript">
        <div plunker-content="javascript">
<pre class="prettyprint">app.controller(&#39;CodemirrorCtrl&#39;, [&#39;$scope&#39;, function($scope) {

  // The modes
  $scope.modes = [&#39;Scheme&#39;, &#39;XML&#39;, &#39;Javascript&#39;];
  $scope.mode = $scope.modes[0];


  // The ui-codemirror option
  $scope.cmOption = {
    lineNumbers: true,
    indentWithTabs: true,
    onLoad : function(_cm){

      // HACK to have the codemirror instance in the scope...
      $scope.modeChanged = function(){
        _cm.setOption(&quot;mode&quot;, $scope.mode.toLowerCase());
      };
    }
  };



  // Initial code content...
  $scope.cmModel = &#39;;; Scheme code in here.\n&#39; +
    &#39;(define (double x)\n\t(* x x))\n\n\n&#39; +
    &#39;&lt;!-- XML code in here. --&gt;\n&#39; +
    &#39;&lt;root&gt;\n\t&lt;foo&gt;\n\t&lt;/foo&gt;\n\t&lt;bar/&gt;\n&lt;/root&gt;\n\n\n&#39; +
    &#39;// Javascript code in here.\n&#39; +
    &#39;function foo(msg) {\n\tvar r = Math.random();\n\treturn &quot;&quot; + r + &quot; : &quot; + msg;\n}&#39;;

}]);</pre>
        </div>
      </tab>
    </tabset>
  </div>
</div>

</section>


</div>

<!-- Le javascript
================================================== -->
<script src="assets/vendor/prettify.js"></script>
<script src="assets/vendor/angular.min.js"></script>
<script src="assets/vendor/ui-bootstrap-tpls.min.js"></script>
<script src="core/prettifyDirective.js"></script>
<script src="core/plunker.js"></script>
<script src="vendor/codemirror.js"></script>
<script src="vendor/scheme.js"></script>
<script src="vendor/javascript.js"></script>
<script src="vendor/xml.js"></script>
<script src="dist/ui-codemirror.js"></script>


<script>
  'use strict';

angular.module('doc.ui-codeMirror', ['ui.codemirror', 'prettifyDirective', 'ui.bootstrap', 'plunker' ])
  .controller('CodemirrorCtrl', ['$scope', function ($scope) {

    // The modes
    $scope.modes = ['Scheme', 'XML', 'Javascript'];
    $scope.mode = $scope.modes[0];


    // The ui-codemirror option
    $scope.cmOption = {
      lineNumbers: true,
      indentWithTabs: true,
      onLoad: function (_cm) {

        // HACK to have the codemirror instance in the scope...
        $scope.modeChanged = function () {
          _cm.setOption('mode', $scope.mode.toLowerCase());
        };

      }
    };


    // Initial code content...
    $scope.cmModel = ';; Scheme code in here.\n' +
      '(define (double x)\n\t(* x x))\n\n\n' +
      '<!-- XML code in here. -->\n' +
      '<root>\n\t<foo>\n\t</foo>\n\t<bar/>\n</root>\n\n\n' +
      '// Javascript code in here.\n' +
      'function foo(msg) {\n\tvar r = Math.random();\n\treturn "" + r + " : " + msg;\n}';

  }]);

</script>

</body>

</html>
