
<section id="codemirror" ng-app="doc.ui-codeMirror" ng-controller="CodemirrorCtrl">
  <div class="page-header">
    <h1>CodeMirror</h1>
  </div>
  <h3>What?</h3>

  <p>IDE? In <em>my</em> textareas? Surely you're joking.</p>

  <p><textarea ui-codemirror="{
                lineNumbers: true,
                theme:'rubyblue'
            }" ui-refresh="codeMirrorRefresh" ng-model="codeMirrorModel"></textarea></p>

  <h3>How?</h3>
    <pre class="prettyprint">
    &lt;textarea ui-codemirror=&quot;{
        lineNumbers: true,
        theme:&#39;rubyblue&#39;
        }&quot; ui-refresh=&quot;codeMirrorRefresh&quot; ng-model=&quot;codeMirrorModel&quot;&gt;&lt;/textarea&gt;
    </pre>
</section>